@import '~rfs/scss';
.modal-container {
  .modal-header {
    padding-left: 30px;
    padding-right: 30px;
    .modal-add-title {
      @include font-size(18px);
    }
    .modal-add-close-button {
      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }

  .modal-body {
    padding-left: 30px;
    padding-right: 30px;
    .form-group {
      margin-bottom: 26px;
      label {
        text-transform: uppercase;
        @include font-size(12px);
        font-weight: 600;

        letter-spacing: 0em;
        margin-bottom: 9px;
      }

      ng-select.priority-select, select.priority-select {
        max-width: 200px;
        div.priority-item {
          display: flex;
          align-items: center;
          &::before {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 20px;
          }
          &.very-high::before {
            background: #ed4c5c;
          }
          &.high::before {
            background: #f8a541;
          }
          &.normal::before {
            background: #00a790;
          }
          &.low::before {
            background: #428bc1;
          }
          &.very-low::before {
            background: #8942c1;
          }
        }
      }
    }
  }

  .modal-footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}
