@import '~rfs/scss';
.modal-container {
  .modal-header {
    border: none;
    border-radius: 12px;
    background-color: white;
  }
  .modal-body {
    .dialog-text {
      @include font-size(18px);
      font-weight: 500;

      letter-spacing: 0em;
      text-align: center;
    }
  }
  .modal-footer {
    border: none;
    background-color: white;
    border-radius: 12px;
    primary-button:first-child {
      margin-right: 20px;
    }
  }
}
